body {font-family: 'Open Sans', sans-serif;

}

h1, h2, h3 {font-family: 'Bebas Neue', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* Colours
* 7B4019 - Dark Brown
* FF7D29 - Orange
* FFBF78 - Light Orange
* FFEEA9 - Light Yellow
*/

/* Company Name Styling */
.company-name-header {
    background-color: #7B4019;
    color: #FFEEA9;
    text-align: center;
    padding: 10px 20px;
}

.company-name-header h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 4.5em;
    letter-spacing: 5px;
    margin: 0;
    padding: 0;
    color: inherit;

}

/*Top Navigation Bar Styling*/
nav.w3-bar {
    display: flex;
    justify-content : center;
    gap: 200px;    
}

nav.w3-bar .w3-bar-item {
    padding: 12px 40px;
    font-size: 1.1em;
    display:inline-block;
    line-height: 1.5;
}


/* Footer Styling */









/* Start of Menu Styling */
/* Menu Styling for food item grid */
.menu-page .food-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.menu-page .food-item {
    background-color: #ffffff;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.menu-page .food-image {
    width: 100%;
    height:auto;
    aspect-ratio: 4/3;
    object-fit: cover;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    display:block
}
.menu-page .food-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 16px;
    background-color:#f8f8f8;
    font-weight: 600;
    font-size: 1.2em;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}
  



