{% extends "base.html" %}

{% block body %}
<div>
    <h2>123 Fake Street, Fake Building, New Zealand</h2>
    <div style="display: flex; align-items:flex-start;">
        <img 
        src = /static/images/assets/Location1.webp
        style = 
        ' 
        display:inline-block;
        max-width: 20vw;
        height: auto;
        border: 2px solid black;
        border-radius: 8px;
        display: block;
        margin: 10px;
        display: flex;
        justify-content: left;'>
        <p>aaa</p>
    </div>
    <h2 style="text-align:right;">231 Fake Avenue, Real Building, New Zealand</h2>

    <h2>321 Real Road, False Building, New Zealand</h2>
{% endblock %}
