{% extends "base.html" %}

{% block body %}
<h2>Menu</h2>

<!--Menu Items-->
<div class="menu-page">
    <div class="food-grid">
    {% for food in foods %}
         <div class ="food-item">
             <img src="{{ url_for('static', filename=food.imageurl or 'images/default-food.jpg') }}" alt="{{ food.food_name }}" class="food-image">
        <div class ="food-text">    
             <span class="food-name">{{ food.food_name }}</span>
            <span class="food-price">${{ food.food_price }}</span> 
            
        </div>
            <button class="w3-button w3-teal">Add to Cart</button>
        </div>
 {% endfor %}
    </div>
</div>

<!--Cart Sidebar-->
<button id="cart-button" class="cart-button" onclick="toggleCartSidebar()">Cart</button>

<div id="cart-sidebar" class="cart-sidebar">
    <h3> Cart items </h3>
    
</div>

<script>
    function toggleCartSidebar() {
    const sidebar = document.getElementById('cart-sidebar');
    console.log('Button clicked');
    sidebar.classList.toggle('open');
}
</script>


{% endblock %}