{% extends "base.html" %}

{% block body %}
<h2>Menu</h2>

<!--Menu Items-->
<div class="menu-page">
    <div class="food-grid">
    {% for food in foods %}
         <div class ="food-item">
             <img src="{{ url_for('static', filename=food.imageurl or 'images/default-food.jpg') }}" alt="{{ food.food_name }}" class="food-image">
            <div class ="food-text">    
                <span class="food-name">{{ food.food_name }}</span>
                <span class="food-price">${{ food.food_price }}</span> 
             </div>
            <button class="w3-button w3-teal cart-add" 
            data-food_id="{{ food_id }}" 
            data-food_name="{{ food.food_name }}" 
            data-food_price="{{ food.food_price }}" >
            Add to Cart
            </button>
        </div>
 {% endfor %}
    </div>
</div>

<!--Cart Sidebar-->
<div id="cart-container" class="cart-container">
    <button id="cart-button" class="cart-button" onclick="toggleCartSidebar()">&#8647</button>

    <div id="cart-sidebar" class="cart-sidebar">
        <h3>your order</h3>
        <div id ="cart-items">
            <!-- Cart items will be automatically added here -->
            <p>No items in cart.</p>
        </div>
        
        <div class="order-type-selector">
            <button id="pickup-button" class="order-selector-button">Pick-up</button>
            <button id="delivery-button" class="order-selector-button">Delivery</button>
        </div>
    <button id="checkout-button" class="checkout-button">Checkout</button>
    
    </div>
</div>

<script>
    function toggleCartSidebar() {
    const sidebar = document.getElementById('cart-container');
    const cartButton = document.getElementById('cart-button');
    console.log('Button clicked');
    sidebar.classList.toggle('open');

    const isOpen = sidebar.classList.contains('open');
    cartButton.innerHTML = isOpen ? '&#8649;' : '&#8647;'; 
}
</script>


{% endblock %}